---
import '@/styles/index.scss'

interface Props {
  prev: string
}

const { prev } = Astro.props
---

<footer>
  <a href={prev} class='btn nav-btn prev' id='previous' type='button'>
    Previous
  </a>

  <button class='btn nav-btn next' id='next' type='submit'> Next</button>
</footer>
